@model List<ResultAboutItemDto>
@*
    UI About Items
*@
<div class="row g-3">
    @for (int i = 0; i < Model.Count; i += 2)
    {
        <div class="col-sm-6">
            <h6 class="mb-3">
                <i class="fa fa-check text-primary me-2"></i>
                @Model[i].Title
            </h6>

            @if (i + 1 < Model.Count)
            {
                <h6 class="mb-0">
                    <i class="fa fa-check text-primary me-2"></i>
                    @Model[i + 1].Title
                </h6>
            }
        </div>
    }
</div>