@model CreateSocialDto
@{
    ViewData["Title"] = "CreateSocial";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="d-flex mb-4 justify-content-between align-items-center">
                    <h5 class="mb-0 fw-bold">Yeni Sosyal Medya Oluştur</h5>
                </div>

                <form method="post">
                    <div class="form-group mb-3">
                        <label>Medya Adı</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Medya Adını Giriniz" />
                    </div>
                    <div class="form-group mb-3">
                        <label>İkon</label>
                        <input type="text" asp-for="Icon" class="form-control" placeholder="Ikon stilini Giriniz" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Url</label>
                        <input asp-for="Url" class="form-control" rosw="5" placeholder="Url Giriniz" />
                    </div>
                    <button class="btn btn-info">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>


