@model List<ResultFAQDto>
@*
    Home FAQ Component
*@
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Popüler SSS</div>
            <h1 class="mb-4">Sıkça Sorulan Sorular</h1>
        </div>

        @{
            var totalFaqs = Model.Count;
            var leftColumnSize = (int)Math.Ceiling(totalFaqs / 2.0); 
            
            var leftFaqs = Model.Take(leftColumnSize).ToList();
            var rightFaqs = Model.Skip(leftColumnSize).ToList();
        }

        <div class="accordion" id="mainAccordion"> 

            <div class="row">
                
                <div class="col-lg-6">
                    @foreach (var faq in leftFaqs)
                    {
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                            <h2 class="accordion-header" id="heading_@faq.Id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_@faq.Id" 
                                        aria-expanded="false" 
                                        aria-controls="collapse_@faq.Id">
                                    @faq.Question
                                </button>
                            </h2>
                            <div id="collapse_@faq.Id" class="accordion-collapse collapse" 
                                 aria-labelledby="heading_@faq.Id"
                                 data-bs-parent="#mainAccordion"> 
                                <div class="accordion-body">
                                    @faq.Answer
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-lg-6">
                    @foreach (var faq in rightFaqs)
                    {
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                            <h2 class="accordion-header" id="heading_@faq.Id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_@faq.Id" 
                                        aria-expanded="false" 
                                        aria-controls="collapse_@faq.Id">
                                    @faq.Question
                                </button>
                            </h2>
                            <div id="collapse_@faq.Id" class="accordion-collapse collapse" 
                                 aria-labelledby="heading_@faq.Id"
                                 data-bs-parent="#mainAccordion"> 
                                <div class="accordion-body">
                                    @faq.Answer
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div> 

        </div> 
    </div>
</div>
