
@model List<ResultFAQDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="card admin-card">

    <div class="admin-header d-flex justify-content-between align-items-center">
        <h4 class="fw-bold mb-0">Sıkça Sorulan Sorular Sayfası</h4>
        <a href="/Admin/FAQ/CreateFAQ/" class="btn btn-light text-dark fw-semibold">
            <i class="bi bi-plus-circle me-1"></i> Yeni Soru Ekle
        </a>
    </div>

    <div class="admin-table">
        <div class="table-responsive">
            <table class="table table-borderless align-middle">
                <thead class="fw-semibold text-secondary">
                    <tr>
                        <th>#</th>
                        <th>Soru</th>
                        <th>Cevap</th>
                        <th>İşlemler</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;

                        <tr class="align-middle">
                            <td><strong>@count</strong></td>
                            <td>@(item.Question.Length > 40 ? item.Question.Substring(0, 40) + "..." : item.Question)  </td>
                            <td>@(item.Answer.Length > 40 ? item.Answer.Substring(0, 40) + "..." : item.Answer)  </td>
                            <td class="text-center">
                                <button type="button" onclick="confirmDelete('/Admin/FAQ/DeleteFAQ/@item.Id')" class="btn btn-danger btn-circle">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                            <td>
                                <a href="/Admin/FAQ/UpdateFAQ/@item.Id" class="btn btn-primary btn-circle">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>



